<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="cryptoinfo-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `cryptoinfo-element`
     * Crypto Information
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CryptoinfoElement extends Polymer.Element {
      static get is() { return 'cryptoinfo-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'cryptoinfo-element'
          }
        };
      }
    }

    window.customElements.define(CryptoinfoElement.is, CryptoinfoElement);
  </script>
</dom-module>
