<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="cryptoinfo-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .tab{
       display:inline-flex;
       width:100%;
       justify-content:center;
       border:0;
     }
      h2{
        text-align:center;
        font-size:30px;
      }
      table, thead, tr, th, tbody, td {
        border: 1px solid #000;
        text-align: center;
        background-color:#87888e;
      }
      th {
        font-weight: bold;
      }
    </style>
    <section class="tab">
      <article>
        <h2>[[prop1]]</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
            </tr>
            <tr>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
            </tr>
            <tr>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
            </tr>
            <tr>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
              <td>lorem lorem lorem lorem lorem</td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </template>

  <script>
    /**
     * `cryptoinfo-element`
     * Crypto Information
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CryptoinfoElement extends Polymer.Element {
      static get is() { return 'cryptoinfo-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Crypto Info'
          }
        };
      }
    }

    window.customElements.define(CryptoinfoElement.is, CryptoinfoElement);
  </script>
</dom-module>
